name: build-test-deploy
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@v6
      - name: use nodejs
        uses: actions/setup-node@v6
        with:
          node-version: '20.x'
      - run: npm run install
      - run: npm run build
        
        
      
  
  
